@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  position: relative;
}

#flowerIcon,
#duckIcon {
  margin-left: 10px;
}

/* ////////////////////////// */

/* Forest Background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.backgroundLayers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* buttoms style */

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% + 4px),
    12px calc(100% + 4px),
    12px calc(100% + 10px),
    calc(100% - 12px) calc(100% + 10px),
    calc(100% - 12px) calc(100% + 4px),
    calc(100% - 6px) calc(100% + 4px),
    calc(100% - 6px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px
  );
  position: relative;
}

.pixel-corners:active,
.pixel-corners--wrapper:active {
  clip-path: polygon(
    0px calc(100% - 12px),
    6px calc(100% - 12px),
    6px calc(100% - 6px),
    12px calc(100% - 6px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px
  );
  position: relative;
}

.pixel-corners {
  border: 6px solid transparent;
}

.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    6px 12px,
    12px 12px,
    12px 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 6px),
    12px calc(100% - 6px),
    12px calc(100% - 12px),
    6px calc(100% - 12px)
  );
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% + 4px),
    12px calc(100% + 4px),
    12px calc(100% + 10px),
    calc(100% - 12px) calc(100% + 10px),
    calc(100% - 12px) calc(100% + 4px),
    calc(100% - 6px) calc(100% + 4px),
    calc(100% - 6px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px,
    0px 50%,
    6px 50%,
    6px 12px,
    12px 12px,
    12px 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 6px),
    12px calc(100% - 6px),
    12px calc(100% - 12px),
    6px calc(100% - 12px),
    6px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}

.pixel-corners::after {
  margin: -6px;
}
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% + 4px),
    12px calc(100% + 4px),
    12px calc(100% + 10px),
    calc(100% - 12px) calc(100% + 10px),
    calc(100% - 12px) calc(100% + 4px),
    calc(100% - 6px) calc(100% + 4px),
    calc(100% - 6px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px
  );
  position: relative;
}

.pixel-corners:active,
.pixel-corners--wrapper:active {
  clip-path: polygon(
    0px calc(100% - 12px),
    6px calc(100% - 12px),
    6px calc(100% - 6px),
    12px calc(100% - 6px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px
  );
  position: relative;
}

.pixel-corners {
  border: 6px solid transparent;
}

.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    6px 12px,
    12px 12px,
    12px 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 6px),
    12px calc(100% - 6px),
    12px calc(100% - 12px),
    6px calc(100% - 12px)
  );
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% + 4px),
    12px calc(100% + 4px),
    12px calc(100% + 10px),
    calc(100% - 12px) calc(100% + 10px),
    calc(100% - 12px) calc(100% + 4px),
    calc(100% - 6px) calc(100% + 4px),
    calc(100% - 6px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px,
    0px 50%,
    6px 50%,
    6px 12px,
    12px 12px,
    12px 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 6px),
    12px calc(100% - 6px),
    12px calc(100% - 12px),
    6px calc(100% - 12px),
    6px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}

.pixel-corners:active::after,
.pixel-corners--wrapper:active::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 12px),
    6px calc(100% - 12px),
    6px calc(100% - 6px),
    12px calc(100% - 6px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px,
    0px 50%,
    6px 50%,
    6px 12px,
    12px 12px,
    12px 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 6px),
    12px calc(100% - 6px),
    12px calc(100% - 12px),
    6px calc(100% - 12px),
    6px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}

.pixel-corners::after {
  margin: -6px;
}

/* start page */

.start-button {
  font-family: "Press Start 2P", system-ui;
  font-size: 3rem;
  background-color: #93da97;
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
  position: relative;
  display: block;
}

.start-button:hover {
  background-color: #5e936c;
}

.start-button:active {
  transform: translateY(10px);
  box-shadow: none;
}

#startPage {
  height: 90vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* name page  */

#namePage {
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 1rem;
}

#namePage > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4%;
}

#namePage label {
  color: honeydew;
  font-size: xx-large;
  justify-content: center;
}

#namePage input {
  background-color: honeydew;
  border-radius: 999px;
  font-family: "Press Start 2P", system-ui;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
  border: none;
}

/* Rules Page */

#rulesPage {
  height: 100vh;
  display: none;
  align-items: center;
  text-align: left;
  justify-content: center;
  position: relative;
}

#rulesPage > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4%;
}

#rulesPage > P {
  padding: 30px;
  margin-bottom: 190px;
  color: honeydew;
  font-size: 15px;
  justify-content: center;
}

/* tasks page */

#taskPage {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 1rem;
  display: none;
}

#taskPage > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4%;
}

#taskPage label {
  color: honeydew;
  font-size: xx-large;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(50) forwards,
    blink 0.6s step-end infinite alternate;
}

#taskPage input {
  background-color: honeydew;
  border-radius: 999px;
  font-family: "Press Start 2P", system-ui;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
  display: block;
  border: none;
  animation: blink 1s step-end infinite alternate;
}

/* head up dispaly */

#hud {
  background-color: #c7d9dd;
  position: fixed;
  top: 1rem;
  right: 0;
  display: none;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  transition: all 0.5 ease-in;
}

/* Emma */

#emma {
  display: none;
  position: absolute;
  top: 35.1%;
  right: 48%;
}

#emmaPhoto {
  width: 80px;
}

/* speech Bubble */

#speechBubble {
  position: absolute;
  background: white;
  border: 3.5px solid black;
  border-radius: 1rem;
  padding: 20px;
  font-family: "Press Start 2P";
  font-size: 12px;
  display: none;
  box-shadow: 5px 5px 2px black;
  bottom: 30%;
  left: 45.5%;
}

#speechBubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
}

#speechBubble::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 42px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

#homePage {
  display: none;
}

#homeBtns {
  display: flex;
  position: absolute;
  top: 0;
  gap: 20px;
  margin: 1.9rem;
}

#report {
  color: aliceblue;
  font-size: medium;
  display: flex;
  position: absolute;
  top: 15%;
  gap: 20px;
  margin: 1.9rem;
}

#note {
  color: aliceblue;
  font-size: 12px;
  display: flex;
  position: absolute;
  top: 28%;
  gap: 20px;
  margin: 1.9rem;
}

#week {
  color: aliceblue;
  position: relative;
  display: flex;
  font-size: xx-large;
  bottom: 1rem;
  left: 42rem;
}

#date {
  color: aliceblue;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  top: 2.5rem;
  left: 27rem;
  gap: 10px;
}

#date > div > p {
  font-size: x-large;
  padding: 10px;
}

#clock {
  display: flex;
  color: aliceblue;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  top: 6rem;
  left: 12rem;
  gap: 10px;
}

#clock > div > p {
  font-size: x-large;
  padding: 10px;
}

#weather {
  font-size: xx-large;
  color: #c7d9dd;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 45.5%;
  bottom: 44%;
}

.homebtn {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  background-color: #c7d9dd;
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
}

.homebtn:hover {
  background-color: #8c999c;
}

.homebtn:active {
  transform: translateY(10px);
  box-shadow: none;
}

#homeBtn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 4rem;
}

#sosText {
  display: none;
  position: relative;
  top: 10%;
  color: honeydew;
  font-size: 15px;
  justify-content: center;
}

#taskCheck {
  height: 30vh;
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#taskTimer {
  color: aliceblue;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  left: 33%;
  bottom: 60%;
  gap: 1%;
}

#taskTimer > div > p {
  font-size: x-large;
  padding: 10px;
}

#taskStart {
  position: absolute;
  top: 35%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#taskText {
  color: aliceblue;
  font-size: 100%;
  position: relative;
  bottom: 70%;
  right: 30%;
}

#taskInstraction {
  color: aliceblue;
  font-size: 100%;
  position: relative;
  top: 10%;
  right: 57%;
}

#taskCheckbtn {
  display: none;
}

#changeTask {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 1rem;
  display: none;
}

#changeTask > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4%;
}

#changeTask label {
  color: honeydew;
  font-size: xx-large;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(50) forwards,
    blink 0.6s step-end infinite alternate;
}

#changeTask input {
  background-color: honeydew;
  border-radius: 999px;
  font-family: "Press Start 2P", system-ui;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
  display: block;
  border: none;
  animation: blink 1s step-end infinite alternate;
}

#backBtn {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 4rem;
}

#changeBtn {
  display: flex;
  position: absolute;
  bottom: 156%;
  left: 2%;
  gap: 20px;
}

#studyPage {
  height: 30vh;
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#studyTimer {
  color: aliceblue;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  left: 1.8%;
  bottom: 60%;
  gap: 1%;
}

#studyTimer > div > p {
  font-size: x-large;
  padding: 10px;
}

#timerController {
  position: absolute;
  top: 35%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.startTimer {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  background-color: #c7d9dd;
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
}

.startTimer:hover {
  background-color: #8c999c;
}

.startTimer:active {
  transform: translateY(10px);
  box-shadow: none;
}

.pauseBtn {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  background-color: #dde251;
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
}

.pauseBtn:hover {
  background-color: #86922b;
}

.pauseBtn:active {
  transform: translateY(10px);
  box-shadow: none;
}

.stopBtn {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  background-color: red;
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
}

.stopBtn:hover {
  background-color: darkred;
}

.stopBtn:active {
  transform: translateY(10px);
  box-shadow: none;
}

.playBtn {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  background-color: rgb(11, 173, 11);
  border: none;
  padding: 1rem;
  box-shadow: 0px 10px 0px 0px black;
  cursor: pointer;
}

.playBtn:hover {
  background-color: rgb(11, 163, 17);
}

.playBtn:active {
  transform: translateY(10px);
  box-shadow: none;
}

#quranControllers {
  position: absolute;
  display: none;
  top: 73%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#homePhotos {
  height: 28.5vh;
  display: none;
}

#flowers {
  position: absolute;
  top: 40.9rem;
  right: 20rem;
  width: 43px;
}

#pinkFlower {
  display: block;
  position: absolute;
  top: 40.5rem;
  right: 90rem;
  width: 43px;
}

#spiderFlower {
  display: block;
  position: absolute;
  top: 39.5rem;
  right: 78rem;
  width: 62px;
}

#tree {
  display: block;
  position: absolute;
  top: 32rem;
  right: 81rem;
  width: 120px;
}

#branch {
  display: block;
  position: relative;
  top: 32.5rem;
  right: 1.2rem;
  width: 100px;
  height: 100px;
}

#greenTree {
  display: block;
  position: absolute;
  top: 30rem;
  right: 1rem;
  width: 210px;
}

#fire {
  display: block;
  position: absolute;
  top: 39.3rem;
  right: 10rem;
  width: 70px;
}

#cats {
  display: block;
  position: absolute;
  top: 39.6rem;
  right: 0rem;
  width: 70px;
}

#blackDuck {
  display: block;
  position: absolute;
  top: 39.6rem;
  right: 70rem;
  width: 70px;
}

#yellowDuck {
  display: block;
  position: absolute;
  top: 40.3rem;
  right: 15rem;
  width: 35px;
}

#sun {
  display: block;
  position: absolute;
  top: 27rem;
  right: 15rem;
  width: 100px;
}

#clouds {
  display: block;
  position: absolute;
  top: 27rem;
  right: 30rem;
  width: 100px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
